<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<div class="row">
  <div class="col-xs-12">
    <img
      [src]="recipe.imagePath"
      alt="{{ recipe.name }}"
      class="img-responsive center-block"
      style="max-height: 300px"
    />
  </div>
</div>

<div class="row">
  <div class="col-xs-1" style="padding-top: 16px">
    <div class="btn-group" appDropdown>
      <button class="btn"><i class="fa fa-bars"></i></button>
      <ul class="dropdown-menu">
        <li>
          <a (click)="onAddToShoppingList()" style="cursor: pointer">
            To Shopping List
          </a>
        </li>
        <li>
          <a style="cursor: pointer" (click)="onEditRecipe()"> Edit Recipe </a>
        </li>
        <li>
          <a style="cursor: pointer" (click)="onDeleteRecipe()">
            Delete Recipe
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-xs-10" style="padding-left: 30px">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-xs-12">
    {{ recipe.description }}
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h3>Ingredients</h3>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>
